.top-bar {
  background-color: #3b444b;
  width: auto;
  height: 150px;
  border-radius: 0.5rem 0.5rem 2rem 2rem;
  border: #66b2b2 solid 3px;
  margin: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 30px;
  color: #e6bb6b; }

ul {
  display: flex;
  height: 100%;
  width: 200px;
  justify-content: space-between;
  flex-direction: row;
  list-style-type: none; }
